$font-1: "Roboto", sans-serif;
$font-size: 22px;
$font-size2: 12px;
$font-size3: 16px;
$padding-1: 20px;
$medida-1: 15px;
$medida-2: 50px;
$background-1:rgb(247, 229, 222);
$background-2:rgba(245, 182, 178, 0.878);
$background-3:rgb(251, 205, 126);
$background-4:rgba(245, 182, 178, 0.686);
$background-5:rgba(251, 205, 126, 0.282);


/*variables para mi map*/
$colores: (
  color-a: rgb(119, 141, 127),
  color-b: rgba(251, 205, 126, 0.463),
  color-c: rgb(48, 44, 44),
  color-e: rgb(154, 177, 163),
  color-f: rgb(119, 141, 127),
);
